/* header */
.header-right a {
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: right;
  font-size: 15px;
  padding-left: 24px;
}
.fa-instagram {
  font-size: 24px;
}
a {
  text-decoration: none;
  font-size: 12px;
}
.header-left p {
  float: left;
  font-size: 24px;
}
/* top */
.pc {
  display: block !important;
}
.sp {
  display: none !important;
}
/* contents */
.container h2{
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}
.container {
  padding: 80px 25%;
}
.txt {
  font-size: 14px;
  padding-bottom: 30px;
  line-height: 150%;
}
.profile-txt {
  padding-bottom: 0px;
}
/* news */
td {
  padding: 17px 10px;
  font-size: 14px;

}

table {
  border-collapse: collapse;
  width:100%;
 }

tr ,td {
  border-top:grey 1px solid;
  border-bottom: grey 1px solid; }

/* contact */
  input,textarea {
  border: 1px solid grey;
  width: 100%;
}
input {
  height: 40px;
}
textarea {
  height: 200px
}
form {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
dl {
  display: flex; 
  flex-wrap: wrap;
}
dt {
  width: 15%;
  font-weight: normal;
  color: grey
}
dd {
  width: 85%;
  margin-bottom: 10px;
}
.buttun input {
  display: inline-block;
  text-align: center;
  line-height: 15%;
  width: 180px;
  padding: 25px;
  color: white;
  background-color: #24292D;
}
.buttun-wrapper {
  display: flex;
  justify-content: center;
}
.buttun :hover{
  background-color: white;
  color: #24292D;
}
.container-contact {
  padding: 80px 25%;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
footer {
  background-color: #24292D;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 4px;
  margin-top: 80px;
}
